.jobs-page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #121212;
  color: #f1f5f9;
}
.jobs-page-responsive-container {
  width: 90%;
  max-width: 1110px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.side-bar {
  width: 100%;
}
.jobs-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.desktop-search-input-container {
  display: none;
}
.all-jobs-view-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.jobs-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  list-style-type: none;
}
.no-jobs-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
}
.no-jobs-image {
  width: 250px;
  height: 180px;
}
.no-jobs-heading {
  font-size: 20px;
  line-height: 1.3;
  margin: 10px 0;
}
.no-jobs-desc {
  font-size: 14px;
  line-height: 1.3;
  color: #cbd5e1;
}

@media (min-width: 768px) {
  .jobs-page-responsive-container {
    flex-direction: row;
  }
  .side-bar {
    flex-basis: 40%;
    max-width: 350px;
    flex-shrink: 0;
  }
  .jobs-container {
    flex-grow: 1;
  }
  .desktop-search-input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 400px;
    border: 1px solid #64748b;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  .desktop-search-input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 16px;
    color: #f1f5f9;
  }
  .desktop-search-button {
    background-color: #202020;
    padding: 8px 16px;
    border: none;
    border-radius: 0 8px 8px 0;
    outline: none;
    cursor: pointer;
  }
  .no-jobs-image {
    width: 459px;
    height: 315px;
  }
  .no-jobs-heading {
    font-size: 34px;
  }
  .no-jobs-desc {
    font-size: 16px;
  }
}
